target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
.settings
.project
/asm/
/build/
/config/
/crash-reports/
/eclipse/
/gradle/
/logs/
/mods/
/saves/
/CREDITS-fml.txt
/forge-1.7.10-10.13.0.1180-changelog.txt
/gradlew
/gradlew.bat
/LICENSE
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/options.txt
/README.txt
/bin/
/.gradle/
/.classpath
